@import "variables";

.section-title {
  color: $text-color;
}

html {
  border-left: 0.5em solid $pink;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100%;
}

a:any-link {
  color: $text-color-dark;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 2px;
}

a:any-link:hover {
  text-decoration: none;
}

a:any-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0.05em;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(249, 38, 114, 0.3);
}

a:hover:after {
  top: 0%;
}

body {
  top: 0;
  bottom: 0;
  padding: $body-spacing;

  font-family: "faricy-new-web", sans-serif;
  font-size: calc(13px + 0.25vw);
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $pink;
  font-weight: normal;
  font-family: "faricy-new-web", sans-serif;
  margin: $spacing 0 $spacing 0;
}

h1 {
  margin-top: 0;
}

h3 {
  color: $text-color-dark;
  font-weight: bold;
}

h4 {
  font-size: 1.5em;
}

a:hover {
  text-decoration: underline;
}

a.back-link {
  font-size: $text-size;
  margin: $spacing * 2 0 $spacing 0;
}

ul > ul {
  margin-left: $spacing * 2;
}

header {
  background-color: #f92672;
  color: white;
  padding: 15px;
}

nav {
  margin-bottom: $spacing * 2;
}

.nav-item {
  clear: both;
}

.nav-item.selected:before {
  content: "";
  position: relative;
  display: block;

  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent $pink;
  width: 0;
  left: -2em;
  margin-bottom: -1.3em;
}

.nav-item:last-child {
  margin-bottom: 20px;
}

.site-title {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 30px;
  white-space: nowrap;
}

.site-title + .intro-line {
  font-size: 2.3em;
  margin-bottom: 30px;
}

.face {
  background-image: url(/assets/face.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #ccc;
  display: inline-block;
}

.contact-details {
  font-size: $text-size;
  margin: 0 0 $spacing * 2 0;
}

.links {
  line-height: $line-height;
  font-size: $text-size;
  margin-bottom: 40px;
}

hr {
  margin: 30px 0 35px 0;
  border: 0;
  border-bottom: 1px dotted lightpink;
  display: block;
}

.post-meta {
  margin-bottom: 50px;
}

.post-date {
  color: $text-color-light;
  display: inline-block;
  width: 6em;

  @media (max-width: 400px) {
    width: auto;
    display: block;
  }
}

.project-name {
  @extend .post-date;
  width: auto;
}

.posts .nav-item {
  @media (max-width: 400px) {
    margin-bottom: 0.5em;
  }
}

.projects .nav-item {
  display: inline-block;
  width: 6em;

  @media (max-width: 400px) {
    display: block;
  }
}

.content {
  @extend .clearfix;
  // margin: 0 0 $spacing * 2 0;
  margin: 0;
  max-width: 60em; // 700px;

  p {
    line-height: $line-height;
    font-size: $text-size;
    margin: 0 0 $spacing 0;
  }
  ul li {
    font-size: $text-size;
  }

  p:last-child {
    margin-bottom: 0;
  }

  p img {
    width: 100%;
  }

  p + h3 {
    margin-top: 40px;
  }
}

.content-title {
  font-weight: 900;
  margin: 0 0 25px 0;
}

.content-meta {
  margin: 0 0 25px 0;

  &:empty {
    display: none;
  }
}

blockquote {
  line-height: $line-height;
  margin-left: 0;
  margin-right: 0;
  margin: 0 $spacing 1.5em 0;
  padding: 1.5em 1em 1.5em;

  background: #f9f9f9;
  color: $text-color-light;
  font-style: italic;
  font-family: georgia;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;

  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  padding: 0 10px 0 25px;
}

blockquote p:first-child:last-child {
  margin-top: -1.2em;
  margin-left: 0.7em;
}

ul li {
  line-height: 1.3em;

  @media (max-width: 400px) {
    margin-bottom: 1em;
  }
}

.twitter-logo {
  height: 14px;
  margin-right: 8px;
}

.twitter-highlight {
  bottom: 0;
  font-size: $text-size;
  margin: 30px 30px 40px 0;
  color: $text-color-light;

  a {
    color: $pink;
  }
}

.external-link,
a[href^="http://"]:not([href*="mike.fi"]),
a[href^="https://"]:not([href*="mike.fi"]),
a[href^="//"]:not([href*="mike.fi"]),
a[href*="//"]:not([href*="mike.fi"]) {
  &:after {
    background-color: rgba(126, 234, 252, 0.5);
  }
}
