@import "variables";

.section-title {
    color: $text-color;
}

html {
    border-left: .5em solid $pink;
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 40px;
    min-height: 100%;
}

body {
    position: absoute;
    top: 0;
    bottom: 0;
    padding: $spacing $spacing $spacing $spacing*2;

    font-family: "faricy-new-web", sans-serif;
    font-size: 16px;
    color: $text-color;
}

h1, h2, h3, h4 {
    color: $pink;
    font-weight: normal;
    font-family: "faricy-new-web", sans-serif;
    margin: 0 0 $spacing 0;
}

a, a:link, a:visited, a:active {
    color: $pink;
}

a:hover {
    text-decoration: underline;
}

a.back-link {
    display: block;
    margin: 30px 0 10px 0;
}

ul > ul {
    margin-left: $spacing*2;
}

nav {
    margin-bottom: $spacing*2;
}

    .nav-item {
        clear: both;
    }

    .nav-item.selected:before {
        content: "";
        position: relative;
        display: block;

        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent transparent $pink;
        width: 0;
        left: -30px;
        margin-bottom: -20px;
    }


.site-title {
    font-size: 50px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.contact-details {
    font-size: 16px;
    margin: 0 0 $spacing*2 0;
}

.links {
    line-height: $line-height;
    margin-bottom: 20px;
}

.post-date {
    color: $text-color-light;
    display: inline-block;
    width: 70px;
}

.content {
    @extend .clearfix;
    margin: 0 0 $spacing*2 0;
    max-width: 700px;

    p {
        line-height: $line-height;
        font-size: 16px;
        margin: 0 0 $spacing 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.content-title {
    margin: 0 0 25px 0;
}

.content-meta {
    margin: 0 0 25px 0;

    &:empty {
        display: none;
    }
}

blockquote {
    font-style: italic;
    line-height: $line-height;
    border-left: 5px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 0;
}

.twitter-logo {
    height: 14px;
    margin-right: 8px;
}
