@import "variables";

html {
  border-left: 0.5rem solid $blue;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100%;

  background-image: url(/assets/dot-grid.png), url(/assets/dot-grid.png), url(/assets/dot-grid.png);
  background-repeat: no-repeat;
  background-position: left 500px bottom -200px, left 677px bottom -46px, left 854px bottom 108px;
}

a:any-link {
  color: $text-color-dark;
  text-decoration: none;
  position: relative;
}

a:any-link:hover {
  text-decoration: none;
}

a:any-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 80%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0.05em;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: hsla(200, 95.5%, 75.1%, 0.35);
}

a:hover:after {
  top: 0%;
}

body {
  top: 0;
  bottom: 0;

  font-size: 16px;
  font-family: 'Merriweather', serif;
  color: $text-color;
}

h1,
h2,
h3,
h4 {
  color: $text-color-heading;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  margin-bottom: 1.0rem;
}

h1 {
  font-size: 2.25rem;

  @media (min-width: 768px) {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.75rem;

  @media (min-width: 768px) {
    line-height: 1.6rem;
  }
}

p + h3 {
  margin-top: 2.25rem;
}

nav {
  margin-bottom: $spacing * 2;
}

.nav-item.selected:before {
  content: "";
  position: relative;
  display: block;

  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent $pink;
  width: 0;
  left: -2em;
  margin-bottom: -1.3em;
}

.nav-item:last-child {
  margin-bottom: 20px;
}

.face {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, .1);
  background-image: url(https://avatars.githubusercontent.com/u/299644);
  background-size: contain;
  transition: transform .7s ease-in-out;

  &:active {
    transform: rotate(540deg);
  }
}

hr {
  margin: 30px 0 35px 0;
  border: 0;
  border-bottom: 1px dotted $blue;
  display: block;
}

  p img {
    width: 100%;
  }
// }

blockquote {
  line-height: $line-height;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 0 1rem .5rem;

  color: $text-color-light;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color:hsl(200, 50%, 75%);
  content: open-quote;

  font-size: 3rem;
  line-height: 0.1em;
  vertical-align: -1rem;
}

blockquote p {
  letter-spacing: .5px;
  padding: 0 1em 0 2.5rem;
}

blockquote p:first-child {
  margin-top: -1.5rem;
}

ol, ul {
  list-style-type: circle;
  list-style-position: outside;
  margin: 0 0 2rem 0;
  padding: 0 0 0 1.5rem;
}

li {
  margin-bottom: 1.0rem;
  padding-left: 1.0rem;
  &:before {
    // content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    // color: $blue;
  }
}

.twitter-logo {
  height: 14px;
  margin-right: 8px;
}

.twitter-highlight {
  a {
    color: $blue; // #f92672;
    &:after {
      background-color: hsla(200, 95.5%, 75.1%, 0.35);
    }
  }
}

.external-link,
a[href^="http://"]:not([href*="mike.fi"]),
a[href^="https://"]:not([href*="mike.fi"]),
a[href^="//"]:not([href*="mike.fi"]),
a[href*="//"]:not([href*="mike.fi"]) {
  &:after {
    // background-color: rgba(126, 234, 252, 0.5);
    // background-color: hsla(338.4, 94.6%, 56.3%, 0.3);
    background-color: $pink;
  }
}
