$pink: hsl(300, 85%, 85%);
$blue: hsl(230, 95%, 77%);

$text-color: hsl(220, 20%, 40%);
$text-color-heading: hsl(230, 95%, 77%);
$text-color-light: hsl(220, 20%, 50%);
$text-color-dark: hsl(220, 20%, 30%);;
$spacing: 1.2em;
$body-spacing: 2.5em;
$line-height: 1.75em;
$text-size: 1.15rem;