---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.site_title }}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.site_description }}" />

    <meta name="twitter:site" content="{{ site.site_name }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.site_title }}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.site_description }}{% endif %}" />

    <meta property="og:site_name" content="{{ site.site_name }}" />
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/299644?v=4?s=400" />
    <meta property="og:image:alt" content="{{ site.site_name }}" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.site_title }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.site_description }}{% endif %}" />
    {% if page.url == '/' %}
    <meta property="og:url" content="{{ site.site_url }}" />
    {% endif %}

    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon" href="/assets/favicon.png">
    <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="360x360">
    {% comment %}<script src="https://cdn.tailwindcss.com"></script>{% endcomment %}
  </head>

  <body>
    {% comment %}
    <pre>
      page.title: {{ page.title }}
      site.title: {{ site.title }}
      combined: {% if page.title %}{{ page.title }} | {% endif %}{{ site.site_title }}

      page.description: {{ page.description }}
      site.site_description: {{ site.site_description }}
      combined: {% if page.description %}{{ page.description }}{% else %}{{ site.site_description }}{% endif %}
    </pre>
    {% endcomment %}

    <article>
      {{ content }}
    </article>

    {% if page.url == '/' %}
    <aside>{% include posts.ext %}</aside>
    {% endif %}
  </body>
</html>
