---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.site_title %}{{ page.site_title }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="/css/main.css">

    {% comment %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% endcomment %}
  </head>

  <body>
    <article>
      {{ content }}
    </article>

    {% comment %}
      <!-- Hiding the old posts for now. -->
      {% if page.url == '/' %}
      <aside>{% include posts.ext %}</aside>
      {% endif %}
    {% endcomment %}
  </body>
</html>
