---
layout: default
---

<div class="post-meta">
    <h2 class="content-title">{{ page.title }}</h2>

    <h4 class="content-meta">
    {% if page.last-modified-at != nil %}
        Updated on {{ page.last-modified-at | date: "%B %d, %Y" }}
    {% elsif page.date != nil %}
        Posted on {{ page.date | date: '%B %d, %Y' }}</h4>
    {% endif %}
    
</div>

<div class="post">
{{ content }}
</div>

<div class="twitter-highlight">
    <img class="twitter-logo" src="/assets/twitter.svg" />
    I'm <a href="https://twitter.com/mieky">@mieky</a> on Twitter. Come say hi!
</div>

{% if page.url != "/index.html" %}
    <a class="back-link" href="/">&laquo; Back to front page</a>
{% endif %}
